In [16]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\country head\anaconda3\lib\site-packages (4.8.3)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\country head\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio~=0.17 in c:\users\country head\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\country head\anaconda3\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\country head\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: idna in c:\users\country head\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sniffio in c:\users\country head\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\country head\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\country head\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: sortedcontainers in c:\users\country head\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\country head\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\country head\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: outcome in c:\users\country head\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\country head\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\country head\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\country head\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\country head\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [17]:
import pandas as pd 
import selenium 
from selenium import webdriver
import warnings 
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

Question 1) Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the 
location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

# Now we will download the webdriver for the Web Browser.Steps for download are'
-Check the version of your brower. 
-go to the link: "https//chromedriver.chromium.org/downloads"
- Check the version of your version of your browser

In [18]:
#Lets first connect to the driver : 
driver=webdriver.Chrome(r"C:\Users\Country Head\Downloads\chromedriver_win32.exe")

In [19]:
#opening the naukri web page on the automated web browser
driver.get(" https://www.naukri.com/")

In [20]:
#entering the designation and location based on the question: 
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [21]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [22]:
search= driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [23]:
Job_tittle = []
Job_location = []
company_name = []
expereince_required = []

In [24]:
# scarpping Job tittle from the above page 
tittle_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in tittle_tags[0:10]:
    tittle=i.text
    Job_tittle.append(tittle)

In [25]:
#scrapping the location from the page 
location_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for l in location_tags[0:10]:
    location=l.text
    Job_location.append(location)

In [26]:
# scrapping the names of the company from the page
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for c in company_tags[0:10]:
    company=c.text
    company_name.append(company)

In [27]:
# scrapping the expereince
expereince_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for e in expereince_tags[0:10]:
    expereince = e.text
    expereince_required.append(expereince)

In [28]:
print(len(Job_tittle), len(Job_location), len(company_name), len(expereince_required))

10 10 10 10

In [29]:
df=pd.DataFrame({'title':Job_tittle,'location': Job_location,'Company':company_name,'expereince':expereince_required})
df

,title,location,Company,expereince
0,Data Analyst,Bangalore/Bengaluru,Cynosure Corporate Solutions,2-7 Yrs
1,Environmental Sustainability Data Analyst,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...","PerkinElmer, Inc.",2-6 Yrs
2,Data Analyst III,Bangalore/Bengaluru,Walmart,3-7 Yrs
3,Compliance Rule Writer/Data Analyst,Bangalore/Bengaluru,Paypal,5-8 Yrs
4,Data Analyst,Bangalore/Bengaluru,NNE Pharmaplan,1-2 Yrs
5,Data Analyst,Bangalore/Bengaluru,Ingersoll Rand,3-6 Yrs
6,Data Analyst - EdTech,Bangalore/Bengaluru,Talentstack,2-6 Yrs
7,Data Analyst,Bangalore/Bengaluru,Unusual Hire,1-4 Yrs
8,Data Engineer/Data Analyst,"Hybrid - Bangalore/Bengaluru, Kolkata, Hyderab...",Tech Mahindra,6-11 Yrs
9,Data Analyst - Contractual,Bangalore/Bengaluru,Search Advisers Services Guj,2-3 Yrs

Q2:Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the 
location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results youget.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [42]:
#Lets first connect to the driver : 
driver=webdriver.Chrome(r"C:\Users\Country Head\Downloads\chromedriver_win32.exe")

In [43]:
driver.get(" https://www.naukri.com/")

In [44]:
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [45]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [46]:
search= driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [47]:
Job_tittle = []
Job_location = []
company_name = []
expereince_required = []

In [48]:
# scarpping Job tittle from the above page 
tittle_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in tittle_tags[0:10]:
    tittle=i.text
    Job_tittle.append(tittle)

In [49]:
#scrapping the location from the page 
location_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for l in location_tags[0:10]:
    location=l.text
    Job_location.append(location)

In [50]:
# scrapping the names of the company from the page
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for c in company_tags[0:10]:
    company=c.text
    company_name.append(company)

In [51]:
# scrapping the expereince
expereince_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for e in expereince_tags[0:10]:
    expereince = e.text
    expereince_required.append(expereince)

In [52]:
print(len(Job_tittle), len(Job_location), len(company_name), len(expereince_required))

10 10 10 10

In [53]:
df=pd.DataFrame({'title':Job_tittle,'location': Job_location,'Company':company_name,'expereince':expereince_required})
df

,title,location,Company,expereince
0,Data Science Professional - IBM SPSS Statistic...,"Bangalore/Bengaluru, Noida, Mumbai, Pune, Chennai",Hexaware Technologies,5-8 Yrs
1,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,2-4 Yrs
2,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,6-8 Yrs
3,Senior data scientist,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",Fractal Analytics,4-8 Yrs
4,Data Scientist_NLP,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",Fractal Analytics,5-11 Yrs
5,Data Scientist,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",Fractal Analytics,3-7 Yrs
6,Machine Learning (AI) Architect,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Persistent,5-12 Yrs
7,Sr. Data scientist,"Hybrid - Bangalore/Bengaluru, Mumbai (All Areas)",PayU,1-6 Yrs
8,Manager - Innovations Hub - Machine Learning,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",PwC,7-9 Yrs
9,Lead Data Scientist,Bangalore/Bengaluru,Genpact,8-12 Yrs

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results. 
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get thewebpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the searchbutton.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results youget.
6. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

import pandas as pd 
import selenium 
from selenium import webdriver
import warnings 
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

#Lets first connect to the driver : 
driver=webdriver.Chrome(r"C:\Users\Country Head\Downloads\chromedriver_win32.exe")

driver.get(" https://www.naukri.com/")

designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

search= driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

salary_filter = driver.find_element(By.ClASS_NAME,'//span[@title="3-6 Lakhs"]')
salary_filter.click()

Location.filter = driver.find_elements(By.XPATH,'//label[@for="chk-3-6 Lakhs-ctcFilter-"]')
Location.filter.click()

Job_tittle = []
Job_location = []
company_name = []
expereince_required = []

# scarpping Job tittle from the above page
for i in tittle_tags[0:10]:
    tittle=i.text
    Job_tittle.append(tittle)

#scrapping the location from the page 
location_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for l in location_tags[0:10]:
    location=l.text
    Job_location.append(location)
    
# scrapping the names of the company from the page
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for c in company_tags[0:10]:
    company=c.text
    company_name.append(company)

# scrapping the expereince
expereince_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for e in expereince_tags[0:10]:
    expereince = e.text
    expereince_required.append(expereince)
    
#Creating the dataFrame
df=pd.DataFrame({'title':Job_tittle,'location': Job_location,'Company':company_name,'expereince':expereince_required})
df

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. ProductDescription
3. Price
The attributes which you have to scrape is ticked marked in the below image.

In [15]:
#Lets first connect to the driver : 
driver=webdriver.Chrome(r"C:\Users\Country Head\Downloads\chromedriver_win32.exe")

driver.get("https://www.flipkart.com/")

In [16]:
Product_select = driver.find_element(By.XPATH,'//input[@class="_3704LK"]')
Product_select.send_keys('Sunglasses')

search= driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

Brand_Name = []
Product_Description = []
Product_Price = []

Product_select = driver.find_element(By.XPATH,'//input[@class="_3704LK"]')
Product_select.send_keys('Sunglasses')

search= driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

Brand_Name = []
Product_Description = []
Product_Price = []

Brand_tags = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for b in Brand_tags[0:40]:
    brand = b.text
    Brand_Name.append(brand)
    
Description_tags = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for d in Description_tags[0:40]:
    Product = d.text
    Product_Description.append(Product)   

Price_tags = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for p in Price_tags[0:40]:
    Price = p.text
    Product_Price.append(Price)
    
df= pd.DataFrame({'brand':Brand_Name,'description':Product_Description,'price':Product_Price})
df

# changing to switch the page
Next= driver.find_element(By.CLASS_NAME,"_1LKTO3")
Next.click()

Brand_tags = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for b in Brand_tags[41:80]:
    brand = b.text
    Brand_Name.append(brand)
    
    Description_tags = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for d in Description_tags[41:80]:
        Product = d.text
        Product_Description.append(Product)   

Price_tags = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for p in Price_tags[41:80]:
    Price = p.text
    Product_Price.append(Price)

df= pd.DataFrame({'brand':Brand_Name,'description':Product_Description,'price':Product_Price})
df

Next_again= driver.find_element(By.XPATH,"//a[@class='_1LKTO3'][last()]")
Next_again.click()  

Brand_tags = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for b in Brand_tags[81:100]:
    brand = b.text
    Brand_Name.append(brand)
    
    Description_tags = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for d in Description_tags[81:100]:
        Product = d.text
        Product_Description.append(Product)   

Price_tags = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for p in Price_tags[81:100]:
    Price = p.text
    Product_Price.append(Price)

df= pd.DataFrame({'brand':Brand_Name,'description':Product_Description,'price':Product_Price})
df

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the 
search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price
As shown in the below image, you have to scrape the above attributes.

In [19]:
#Lets first connect to the driver : 
driver=webdriver.Chrome(r"C:\Users\Country Head\Downloads\chromedriver_win32.exe")

driver.get("https://www.flipkart.com/")

Product_select = driver.find_element(By.XPATH,'//input[@class="_3704LK"]')
Product_select.send_keys('Sneakers')

search= driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

Brand = []
Product_Description = []
Price = []

start = 0
end = 2 


for page in range(start,end):
    time.sleep(2)

import time
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException

# initialize the driver
driver = webdriver.Chrome()

# navigate to the website
driver.get('https://www.flipkart.com/')

# search for sneakers
Product_select = driver.find_element(By.XPATH,'//input[@class="_3704LK"]')
Product_select.send_keys('Sneakers')

search= driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

# scrape data from multiple pages
Brand = []
Product_Description = []
Price = []

start = 0
end = 2 

for page in range(start,end):
    # wait for the page to load
    time.sleep(2)

    try:
        # scrape brand names
        Brand_tags = driver.find_elements(By.XPATH,'//div[@class="_2B099V"]')
        for b in Brand_tags:
            brand_name = b.text
            Brand.append(brand_name)
    except NoSuchElementException:
        print("Brand not found")
        
# scrape product descriptions
Description_tags= driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for p in Description_tags:
    Description = p.text
    Product_Description.append(Description)

# scrape prices
try:
Price_tags = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for p in Price_tags:
    Product_Price = p.text
    Price.append(Product_Price)
    
except NoSuchElementException:
    print("Brand not found")
    break
    
# go to the next page
next_page = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"][last()]')
next_page.click()

print(len(Brand),len(Product_Description ),len(Price_tags))

df= pd.DataFrame({'brand':Brand,'description':Product_Description,'price':Product_Price})
df

In [ ]:
Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then 
set CPU Type filter to “Intel Core i7” as shown in the below image:

#Lets first connect to the driver : 
driver=webdriver.Chrome(r"C:\Users\Country Head\Downloads\chromedriver_win32.exe")

driver.get("https://www.amazon.in/")

Product_select = driver.find_element(By.XPATH,'//input[@id="twotabsearchtextbox"]')
Product_select.send_keys('Laptop')          

search = driver.find_element(By.XPATH,'//input[@id="nav-search-submit-button"]')
search.click()

CPU_filter = driver.find_element(By.XPATH,'//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/span')
CPU_filter.click()

Title_Name = []
Ratings = []
Price = []

# scrapping the names of the company from the page
Title_tags = driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
for t in Title_tags[0:10]:
    Title=t.text
    Title_Name.append(Title)
    
try: 
    # find all the rating tags and extract the text for the first 10 laptops
    Ratings_Tags = driver.find_elements(By.XPATH,'//span[@class="a-icon-alt"]')
    for r in Ratings_Tags[0:10]:
        rating = r.text
except:
    rating = 'N/A'
    Ratings.append(rating)
    
#scrapping the Price 
try:
    Price_Tags = driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
    for p in Price_Tags[0:10]:
        Prices=p.text
except:
    price = 'N/A'
    Price.append(Prices)

print(len('Title_Name'),len('Ratings'),len('Price'))    

# create a pandas DataFrame to store the scraped data
df = pd.DataFrame({'Title':Title_Name,'Ratings':Ratings,'Price': Price})
df

Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on TopQuotes
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [45]:
#Lets first connect to the driver : 
driver=webdriver.Chrome(r"C:\Users\Country Head\Downloads\chromedriver_win32.exe")

driver.get("https://www.azquotes.com/")

Qoute = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
Qoute.click()

qoute_titles = []
Author_name = []
Type_Qoute = []

# Define variables for page range and job titles
start = 0 
end = 10 

# Loop through the specified number of pages
for page in range(start, end):
    # Find all titles and authors on the current page
    titles = driver.find_elements(By.XPATH, '//div[@class="title"]')
    authors = driver.find_elements(By.XPATH, '//div[@class="author"]')
    qoutes = driver.find_elements(By.XPATH, '//div[@class="tags"]')
    
    # to create the loop 
    for title in titles:
        qoute_titles.append(title.text)
    for author in authors:
        Author_name.append(author.text)
    for qoute in qoutes:
        Type_Qoute.append(qoute.text)
                                  
    
    # Click the "Next" button to move to the next page
    try:
        next_button = driver.find_element(By.XPATH,'//li[@class="next"]')
        next_button.click()
    except:
        print("End of pages")
        break
        
time.sleep(5) 
    
df = pd.DataFrame({'Title': qoute_titles, 'Author': Author_name, 'Type': Type_Qoute})
print(df)

Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/. This task will be done in following steps:

First get the webpagehttps://www.jagranjosh.com/
Then You have to click on the GK option
Then click on the List of all Prime Ministers of India
Then scrap the mentioned data and make theDataFrame

In [52]:
driver = webdriver.Chrome(r"C:\Users\Country Head\Downloads\chromedriver_win32.exe")
driver.get("https://www.jagranjosh.com/")

In [53]:
gk_button = driver.find_element(By.XPATH,'/html/body/div/div[1]/div/div[1]/div/div[5]/div/div[1]/header/div[3]/ul/li[9]')
gk_button.click()

In [61]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By

# initialize the driver
driver = webdriver.Chrome(r"C:\Users\Country Head\Downloads\chromedriver_win32.exe")

# navigate to the website
driver.get("https://www.jagranjosh.com/")

# click on the GK option
gk_button = driver.find_element(By.XPATH,'/html/body/div/div[1]/div/div[1]/div/div[5]/div/div[1]/header/div[3]/ul/li[9]')
gk_button.click()

In [62]:
# click on the List of all Prime Ministers of India link
pm_link = driver.find_element(By.XPATH, '//a[text()="List of all Prime Ministers of India"]')
pm_link.click()

In [60]:
# scrape the data
Name_tags = driver.find_elements(By.XPATH,'//th[@style="width: 150px; height: 53px;"]')
Born_to_Dead_tags = driver.find_elements(By.XPATH,'//td[@style="width: 120px; text-align: center; vertical-align: middle;"]')
Term_of_office_tags = driver.find_elements(By.XPATH, '//td[@style="text-align: center; vertical-align: middle; width: 160px;"]')
Remarks_tags = driver.find_elements(By.XPATH, '//td[@style="width: 545px;"]')

Name = []
Born_to_Dead = []
Term_of_office = []
Remarks = []

for i in range(len(Name_tags)):
    Name.append(Name_tags[i].text)
    Born_to_Dead.append(Born_to_Dead_tags[i].text)
    Term_of_office.append(Term_of_office_tags[i].text)
    Remarks.append(Remarks_tags[i].text)

# create the dataframe
data = {'Name': Name, 'Born-Dead': Born_to_Dead, 'Term of office': Term_of_office, 'Remarks': Remarks}
df = pd.DataFrame(data)

# display the dataframe
print(df)

# close the driver
driver.quit()

Empty DataFrame
Columns: [Name, Born-Dead, Term of office, Remarks]
Index: []

Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e. 
Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpagehttps://www.motor1.com/
2. Then You have to click on the List option from Dropdown menu on leftside.
3. Then click on 50 most expensive carsin the world..
4. Then scrap the mentioned data and make the dataframe